extends base

block content
  main.main
    .artwork-detail
      .artwork-detail__img-box
        - 
          let imageUrl = artwork.image;
          if (imageUrl.startsWith('art-')) {
            imageUrl = `https://assets.ruggierchromatico.com/${imageUrl}`;
          } else if (imageUrl.includes('ruggierchromatico.com') && !imageUrl.includes('assets.')) {
            imageUrl = imageUrl.replace('ruggierchromatico.com', 'assets.ruggierchromatico.com');
            if (!imageUrl.startsWith('http')) imageUrl = `https://${imageUrl}`;
          } else if (!imageUrl.startsWith('http')) {
            imageUrl = `/img/artworks/${imageUrl}`;
          }
        img.artwork-detail__img(src=imageUrl, alt=`${artwork.title}`)
      
      .artwork-detail__content
        h1.heading-secondary.artwork-detail__title= artwork.title
        .artwork__info
          if artwork.priceDiscount
            span.artwork-detail__price.card__price--old(style="margin-right: 1rem")= `$${artwork.price}`
            span.artwork-detail__price.card__price--new= `$${artwork.priceDiscount}`
            if artwork.discountExpiresAt
              .discount-timer(data-expires-at=artwork.discountExpiresAt style="margin-top: 1rem; font-size: 1.6rem; color: var(--accent-pink); font-weight: bold;")
                span Ends in: 
                span.discount-timer__countdown Loading...
          else
            span.artwork-detail__price= `$${artwork.price}`
        
        p.artwork-detail__text= artwork.description
        
        if artwork.colorPalette
          p.artwork-detail__feeling= artwork.colorPalette

        if artwork.status === 'for-sale'
          button.btn.btn--green.btn--buy(data-artwork-id=`${artwork.id}`) Buy Now
        else if artwork.status === 'sold'
          span.tag.tag--sold(style="margin-top: 2rem; display: inline-block;") SOLD
         
