extends base

block content
  main.main
    h2.heading-secondary.ma-bt-lg= title
    .card-container
      each art in artworks
        .card
          a.card__link(href=`/artwork/${art.slug}`)
          .card__header
            .card__picture
              - 
                let imageUrl = art.image;
                if (imageUrl.startsWith('art-')) {
                  imageUrl = `https://assets.ruggierchromatico.com/${imageUrl}`;
                } else if (imageUrl.includes('ruggierchromatico.com') && !imageUrl.includes('assets.')) {
                  imageUrl = imageUrl.replace('ruggierchromatico.com', 'assets.ruggierchromatico.com');
                  if (!imageUrl.startsWith('http')) imageUrl = `https://${imageUrl}`;
                } else if (!imageUrl.startsWith('http')) {
                  imageUrl = `/img/artworks/${imageUrl}`;
                }
              img.card__picture-img(src=imageUrl, alt=`${art.title}`)
            h3.heading-tertiary
              span= art.title

          .card__details
            p.card__text= art.description
            .card__data
              if art.priceDiscount
                span.card__price--old= `$${art.price}`
                span.card__price--new= `$${art.priceDiscount}`
              else
                span= `$${art.price}`
              
          .card__footer
            if art.status === 'for-sale'
              button.btn.btn--green.btn--small.btn--buy(data-artwork-id=`${art.id}`) Buy Now
            else if art.status === 'sold'
              span.tag.tag--sold SOLD

      
      - for (let i = 0; i < placeholderCount; i++)
        .card.card--placeholder

